* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --gold: #C89B3C;
}
@font-face {
  font-family: "BeaufortforLOL-Bold";
  src: local("BeaufortforLOL-Bold"), url("./BeaufortforLOL-Bold.otf") format("opentype");
}
body {
  color: var(--gold);
  background: #010A13;
  background-attachment: fixed;
  background-image: linear-gradient(to right, rgb(0, 0, 255, .5), rgb(0, 0, 255, .25), #010A13, #010A13, rgb(255, 0, 0, .25), rgb(255, 0, 0, .5));
}
h1 {
  padding: 1em;
  font-size: 2.5em;
  text-align: center;
  font-family: "BeaufortforLOL-Bold";
}
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 1px 0 1px 0;
  border-style: solid;
}
.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}
button {
  padding: 1em 2em;
  color: #CDFAFA;
  background: #1E2328;
  text-transform: uppercase;
  border: 2px solid #0593A7;
  font-family: "BeaufortforLOL-Bold";
  cursor: pointer;
}
button:hover {
  color: white;
}
h2 {
  padding: .25em;
  font-family: "BeaufortforLOL-Bold";
}
label {
  padding: .5em;
}
.summoner {
  display: flex;
  text-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px 0 1px 0;
}
.summoner img {
  margin: 1em;
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 100%;
}
input[type="text"] {
  border: none;
  background: none;
  text-align: center;
  color: var(--gold);
  padding: .25em;
  margin: .25em;
  cursor: pointer;
}
.reroll {
  width: 67px;
  height: 67px;
  background: black;
  border-style: solid;
  border-width: 1px 2px 1px 2px;
  /* top, right, bottom, left */
}
.reroll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}